
.App-dashboard{
    display: flex;
    background-color: #f3f3f3;
}

.App-dashboard-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width:70%;
    background-color: white;
    margin-left: 15rem;
    padding: 2rem;
}

.App-menu-container {
}

.App-user-posts{
    width: 98%;
    box-shadow: 1px 1px 2px rgb(167, 167, 167);
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: .2rem;
}

.App-post-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.App-post-title {
    font-size: 3rem;
  }

.App-post-avatar{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #5a5a5a;
}

.App-user-info{
    display: flex;
    font-size: 1.5rem;
   
}

.App-user-info > p {
    padding-right: 2rem;
    align-self: flex-end;
}

