.App-post-page {
    background-color: #F3F3F3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-post{
    background-color: white;
    width: 70%;
    padding: 2rem;
}

.App-titie-heading {
    color: #ff9770;
    font-size: 4rem;
}

.App-author {
    font-size: 1.5rem;
}

.App-author-img {
    height:4rem;
    width: 4rem;
    box-shadow: 0px 0px 10px #5a5a5a;
    border-radius: 50%;
}

.App-post-img {
    height: 35rem;
    width: 50rem;
    box-shadow: 0px 3px 2px #b9b9b9;
    margin-left: .2rem;
}

.App-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.App-bottom-wrapper {
    display: flex;
}

.App-content{
    padding: 2.5rem;
    font-size: 1.5rem;
}